html {
  font-family: "Wix Madefor Text", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
button {
  all: unset;
  cursor: pointer;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2%;
}
.main-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  width: 100%;
  margin-bottom: 4%;
  justify-content: center;
  align-items: center;
}
.log-btn{
  padding: 1%;
  background-color: #15ae61;
  border-radius: 6px;
  border: 1px solid gray;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  position: absolute;
  right: 2%;
}
.icon {
  font-size: 2em;
  padding: 1%;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.searchbar input {
  width: 80%;
  padding: 1%;
}
.search-btn {
  width: 15%;
  margin-left: 2%;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  text-align: center;
  background-color: #15ae61;
}
.search-btn:hover, .add-btn:hover {
  cursor: pointer;
}

.track-display {
  display: flex;
  align-items: center;
  width: 100%;
}
.track-display img {
  margin-right: 3%;
}
.song-name {
  font-weight: bold;
}
.generate-btn, .rec-btn, .play-btn, .add-btn {
  width: 20%;
  padding: 1.5%;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  text-align: center;
  background-color: #15ae61;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}
#chart-0 {
  width: 90% !important;
  height: auto !important;
}

.rec-btn {
  margin: 2%;
  margin-left: 0;
}
.play-btn {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}
.add-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 12%;
}